{% extends "base.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <form>
        <div claas="about_container">
            <img src="static/bw-about.jpg" class = "bg" alt="bg">
            <div class="bg-text">
                <h1>About Us</h1>
                <p>
                    I have always been addicted to coffee, and of course being addicted to caffeine
                    comes at a cost, caffeine consumed at high amounts can be dangerous.
                    As much as I'm addicted to coffee I wanted to drink coffee in a healthy manner
                    and I needed a tool that helps me to track my caffeine intake.
                    Therefore, I have developed this website which will allow me to track my caffeine intake
                    and help me have a healthier life style.
                    <br>
                    Enjoy your time using my website and I hope it benefits you and helps you have
                    a healthier life style :)
                </p>
            </div>
        </div>
    </form>
{% endblock %}