{% extends "base.html" %}

{% block title %}
    List
{% endblock %}

{% block main %}
    <form action="/list" method="POST">
        <div id="lookup_text">
            <h2>Caffeine Data</h2>
        </div>
        <div class="table-responsive">
            <table class="table table-active">
                <thead>
                    <tr>
                      <th scope="col">Drink</th>
                      <th scope="col">fl/oz</th>
                      <th scope="col">Caffeine (mg)</th>
                      <th scope="col">mg/floz</th>
                    </tr>
                </thead>
              <tbody>
               {% for coffee in caffeine %}
                    <tr>
                        <td>{{coffee.Drink}}</td>
                        <td>{{coffee.fl_oz}}</td>
                        <td>{{coffee.Caffeine_mg}}</td>
                        <td>{{coffee.mg_floz}}</td>
                    </tr>
                {% endfor %}
              </tbody>
            </table>
        </div>
    </form>
{% endblock %}